body {
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.top {
  background: #1F2937;
  padding-bottom: 52px;  
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links {

}

.title {

}

.subtext {
  color: #e5e7eb;
}

.image {
  
}

.content {

}

.quote {

}

.action{

}

.footer {

}

.buttons {

}

button {
  

}

ul {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  list-style: none;
  text-decoration: none;
}

a {
  color: #e5e7eb;
  text-decoration: none;
}

h3 {
  color: #F9FAf8;
  font-size: 24px;
}

h1 {
  color: #F9FAf8;
  font-size: 48px;
  font-weight: bolder;
}

img {
  width: 700px;
  height: 500px;
}

